h1 {
  text-align: center;
  color: black;
  font-weight: 200%;
  font-size: 300%;
  margin-right: auto;
  margin-left: auto;

  font-weight: bold;
}
.center {
  text-align: center;
  color: black;
  margin-right: auto;
  margin-left: auto;
  font-size: 150%;
}
.fond {
  background-color: gold;
  background: linear-gradient(90deg, gold, red);
}
.center2 {
  font-size: 1.5em;
  margin-block-start: 2em;
  margin-block-end: 0.83em;
  margin-inline-start: 300px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.center3 {
  margin-inline-start: 300px;
  margin-inline-end: 300px;
  font-weight: lighter;
}
.center4 {
  margin-inline-start: 300px;
  font-size: ;
}
.typ1 {
  font-weight: lighter;
}
.typ2 {
  font-weight: normal;
}
.typ3 {
  font-weight: bold;
}
.typ4 {
  font-weight: italic;
}

.espace {
  height: 80px;
}
.center5 {
  font-size: 1.5em;
  margin-inline-start: 300px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.color {
  color: blue;
}
.bold {
  font-weight: bold;
}
.ecart {
  letter-spacing: 0.3rem;
}
.espace2 {
  height: 50px;
}
.hauteur {
  line-height: 60%;
}
.col {
  column-count: 3;
}
.firstlet::first-letter {
  color: brown;
  font-size: large;
  font-weight: bold;
}
.firstlin::first-line {
  color: blue;
  font-size: small;
  font-weight: lighter;
}
