video {
  object-position: ;
  object-fit: cover;
}
.center {
  text-align: center;
  margin-top: 40px;
  font-size: large;
  margin-right: 20px;
}
h1,
p,
button {
  padding: 20px;
  font-weight: bold;
}
button {
  font-size: large;
  color: blanchedalmond;
  background-color: blue;
  border-radius: 50%;
  margin-top: 20px;
}
div {
  position: absolute;
  top: 20px;
  left: 300px;
  color: ghostwhite;
  background-color: ;
  opacity: 0.8;
}
h1 {
  font-size: 400%;
}
p {
  font-size: 300%;
}
.animated-fill-button {
  padding: 20px;
  background-color: blue;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.animated-fill-button:hover {
  background-color: chartreuse;
  color: #000;
}
