.navbar {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  padding: 10px;
  background-color: black;
  color: blanchedalmond;
  font-size: 120%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20px;
  height: 20px;
}

.animated {
  cursor: pointer;
  color: blanchedalmond;
  transition: 0.5s all ease-in-out;
}
.animated:hover {
  color: crimson;
}
nav {
  margin-top: 10px;
  font-size: 70%;
}
.grid {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  gap: 10px;
  padding-left: 50px;
  padding-right: 50px;

  margin-top: 50px;
}
.grid2 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 10px;
  background-color: black;
  margin-top: 30px;
  color: blanchedalmond;
  padding-top: 10px;
}
.foot {
  background-color: black;
  color: blanchedalmond;
  text-align: center;
  padding-bottom: 10px;
}
.Titre {
  text-align: left;
  font-weight: 600%;
  font-size: 180%;
  padding-top: 20px;
}
.center {
  text-align: left;
  font-size: small;
  padding-bottom: 20px;
}
.button {
  text-align: center;
  font-weight: 200%;
  font-size: 150%;
  margin-top: 20px;
  margin-left: 200px;
  background-color: forestgreen;
}
main {
  padding-left: 200px;
  padding-right: 200px;
}
li {
  padding-bottom: 20px;
}
.titre2 {
  font-weight: bold;
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 10px;
}
.buttoncolor {
  background-color: forestgreen;
}
.P {
  margin-top: 20px;
}
.titre3 {
  float: right;
  width: 50%;
  margin-bottom: 20px;
}
.titre4 {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}
.decal {
  padding-bottom: 20px;
}
.p1 {
  padding-bottom: 10px;
}
p {
  font-size: 80%;
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
  }
  .grid {
    grid-template-columns: 70% 30%;
    grid-template-rows: 20% 80%;
    display: grid;
    gap: 10px;
  }
  .box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    gap: 20px;

    align-self: center;
    justify-self: center;
  }
  .grid4 {
    grid-template-columns: 50% 50%;
  }
}
