.navbar {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  padding: 10px;
  background-color: black;
  color: blanchedalmond;
  font-size: 120%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20px;
  height: 20px;
}

.animated {
  cursor: pointer;
  color: blanchedalmond;
  transition: 0.5s all ease-in-out;
}
.animated:hover {
  color: crimson;
}
nav {
  font-size: 70%;
}

.btn {
  padding: 1em 2em;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  gap: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
}
.grid2 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 10px;
  background-color: black;
  margin-top: 50px;
  color: blanchedalmond;
  padding-top: 10px;
}
.foot {
  background-color: black;
  color: blanchedalmond;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
}
.Titre {
  text-align: left;
  font-weight: 600%;
  font-size: 180%;
  padding-top: 20px;
  padding-top: 20px;
}
.center {
  text-align: left;
  font-size: small;
  padding-bottom: 20px;
}
.button {
  text-align: center;
  font-weight: 200%;
  font-size: 150%;
  margin-top: 20px;
  align-content: center;
  background-color: forestgreen;
  margin-left: 250px;
}
main {
  padding-left: 50px;
  padding-right: 50px;
}

.titre2 {
  font-weight: bold;
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 10px;
}
.buttoncolor {
  background-color: forestgreen;
}
.P {
  margin-top: 20px;
}
.titre3 {
  float: right;
  width: 50%;
  margin-bottom: 20px;
}
.titre4 {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}
.decal {
  padding-bottom: 20px;
}
.p1 {
  padding-bottom: 10px;
}
p {
  font-size: 80%;
}

@media only screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: 60% 40%;
  }
  main {
    padding: 0;
  }
  .box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .box2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .box3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .ualign {
    display: flex;
    justify-content: space-around;
  }
  .center2 {
    text-align: center;
  }
  .button {
    text-align: center;
    font-weight: 200%;
    font-size: 150%;
    margin-top: 20px;
    margin-left: 160px;
    background-color: forestgreen;
  }
  .titre3 {
    margin-bottom: 20px;
    text-align: left;
    float: none;
  }
  .titre4 {
    margin-bottom: 20px;
    text-align: left;
    float: none;
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: 5% 60% 35%;
    gap: 20px;
  }
  main {
    padding: 0;
  }
  .box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .box2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .box3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 150px;
    margin-bottom: 200px;
  }
  .ualign {
    display: flex;
    justify-content: space-around;
  }
  .center2 {
    text-align: center;
  }
  .button {
    text-align: center;
    font-weight: 200%;
    font-size: 150%;
    margin-top: 20px;
    margin-left: 160px;
    background-color: forestgreen;
  }
  .titre3 {
    margin-bottom: 20px;
    text-align: left;
    float: none;
  }
  .titre4 {
    margin-bottom: 20px;
    text-align: left;
    float: none;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 10px;
    background-color: black;
    margin-top: 50px;
    color: blanchedalmond;
    padding-top: 10px;
    text-align: center;
  }
  .box4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .box5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 20px;
  }
  .box6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 40px;
    padding-bottom: 40px;
  }
  .box7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 20px;
  }
}
