:root {
}
/*header*/
@media (max-width: 720px) {
  .header {
    background-image: url(image.jpg/headerdesktop.png);
  }
  .background {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .img1 {
    color: #fdc98a;

    padding: 10vh;
    text-align: center;
  }
  /*section1*/
  li,
  ul {
    display: inline;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    gap: 30px;
  }
  .color {
    background-color: #fdc98a;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .loupe {
    height: 40px;
    width: 40px;
    align-items: center;
    background: #fdc98a;
    margin-left: 150px;
  }
  textarea {
    background-color: #fdc98a;
  }

  /*section2*/
  .bloc-img {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    gap: 40px;
    background: #606060;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  /*articles-recent*/

  /*categorie*/

  /*galerie photo*/
  .texte {
    text-align: center;
    color: #fdc98a;
  }
  hr {
    background-color: #fdc98a;
    color: #fdc98a;
  }
  .fond {
    background-color: #606060;
  }
  .dimension {
    height: 210px;
    width: 300px;
  }
  .galerie-mobile {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    gap: 40px;
    background: #606060;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  /*footer*/
  .adequation {
    margin: auto;
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .footer {
    background: #606060;
  }
  .centre {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 12px;
    padding-bottom: 40px;
  }
  .p-color {
    color: #fdc98a;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;

    display: flex;
  }
}
