.navbar {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  padding: 10px;
  background-color: burlywood;
  color: blanchedalmond;
  font-size: 120%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
}
.left {
  font-weight: bold;
  font-size: 100%;
  margin-left: 30px;
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

li {
  display: flex;
  flex-direction: initial;
  float: right;
  padding: 5px;
  gap: 5px;
}
h1 {
  margin-bottom: 10px;
  font-size: large;
  color: black;
}

.menu_hamburger {
  position: fixed;
  flex-direction: initial;
  float: left;
  display: none;
}

.menu_hamburger + label {
  width: 25px;
  height: 25px;
  background: linear-gradient(#6753ea 50%, transparent 50%) 0 0/100% 40%;
  cursor: pointer;
  display: inline;
  flex-direction: initial;
  float: left;
  position: fixed;
}

.menu_hamburger:checked + label {
  background: conic-gradient(
      from 90deg at 33% 33%,
      transparent 90deg,
      #6753ea 0
    )
    100% 100%/60% 60%;
  transform: translateZ(0) rotate(45deg);
}

.ajust {
  flex-direction: initial;
  float: inline-block;
  padding: 5px;
  gap: 5px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-button {
  background-color: #3498db;
  color: white;
  padding: 10px 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: crimson;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #eee;
}
.dropdown-content a:last-child {
  border-bottom: none;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-button {
  background-color: #2980b9;
}
@media screen and (max-width: 800px) {
  .navbar {
    position: relative;
    top: 0;
    left: 0px;
    right: 0px;
    padding: 10px;
    background-color: burlywood;
    color: blanchedalmond;
    font-size: 120%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    vertical-align: auto;
    align-items: center;
    background: darkslateblue;
  }
  nav {
    display: none;
  }
  body {
    background: black;
  }
}

#menu-mobile:checked ~ nav {
  display: block;
}

.menu-hamburger {
  height: 50px;
  position: fixed;
  flex-direction: initial;
  float: left;
  margin-left: 180px;
}
.menu-hamburger > .trait {
  display: flex;
  background: red;
  height: 2px;
  width: 40px;
  padding: 2px;
  margin: 8px 0;
}
