.navbar {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  padding: 10px;
  background-color: black;
  color: blanchedalmond;
  font-size: 120%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.left {
  text-align: left;
  font-weight: bold;
  font-size: 100%;
  float: left;
  margin-top: 20px;
}
li {
  display: inline;
  flex-direction: initial;
  float: right;
  padding: 5px;
  margin-bottom: 10px;
}
