.main-head {
  grid-area: header;
  font-weight: bold;
  font-size: 200%;
  margin-top: 50px;
  margin-bottom: 25px;
}
.grid {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: 25% 25% 25% 25%;
  gap: 1px;
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.box2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.box3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.box4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.box5 {
  grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ;
}
.box6 {
  grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ;
}
.box7 {
  grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ;
}
.box8 {
  grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ;
}
