body {
  background-color: gray;
}

/*HEADER*/
li,
a {
  color: floralwhite;
}
a:hover {
  color: coral;
  background-color: black;
}
.navbar {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: blanchedalmond;
  font-size: 150%;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.position-menu {
  display: flex;
}
h1 {
  display: flex;
  position: absolute;
  margin-top: 230px;
  color: blanchedalmond;
  margin-left: 500px;
  margin-right: 500px;
  font-size: 60px;
  text-align: right;
}
.pos-text {
  display: flex;
  position: absolute;
  margin-top: 350px;
  color: blanchedalmond;
  margin-left: 500px;
  margin-right: 500px;
  font-size: 20px;
  text-align: right;
  line-height: 25px;
}
.button1 {
  display: flex;
  position: absolute;
  margin-top: 450px;
  color: blanchedalmond;
  background-color: #ff7f50;
  margin-left: 950px;
  margin-right: 470px;
  font-size: larger;
  text-align: right;

  border-radius: 20px;
}
.image {
  width: 100%;
}

/*section grid*/
.container {
  margin-left: 300px;
  margin-right: 300px;
  color: blanchedalmond;
}
.container-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1;
}
.img1 {
  display: flex;
  position: right;
  margin-left: 100px;
}
.bloc-text1 {
  position: left;
}
.container-grid2 {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1;
  background-color: black;
  padding: 50px;
}
h2 {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;

  margin-left: 300px;
  margin-right: 300px;
  background-color: black;
  color: blanchedalmond;
  padding-top: 30px;
  padding-bottom: 30px;
}
.button2 {
  display: flex;
  position: absolute;
  margin-top: 290px;
  color: blanchedalmond;
  background-color: #ff7f50;
  margin-left: 630px;
  margin-right: 470px;
  font-size: medium;
}
.p1 {
  font-size: larger;
  margin-left: 30px;
}
.p2 {
  margin-left: 50px;
  padding-bottom: 20px;
}
.vertical-line {
  border-left: 2px solid #ff7f50;
  display: inline-block;
  height: 60px;
  margin: 20px 20px;
  margin-left: -10px;
}
/*section grid 2*/
.container-grid3 {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 15% 75%;
  background-color: coral;
  padding: 50px;
}
h3 {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: coral;
  margin-left: 300px;
  margin-right: 300px;
}

.container2 {
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
  color: blanchedalmond;
  background-color: coral;
}
.img2 {
  padding-left: 30px;
  padding-right: 30px;
}
.img3 {
  padding-right: 30px;
}
.p3 {
  display: flex;
  margin-left: 50px;
  position: absolute;
  margin-top: 50px;
  font-size: larger;
}
.p32 {
  display: flex;
  position: absolute;
  font-size: larger;
  margin-left: 50px;
  margin-top: 70px;
}
.p4 {
  display: flex;
  position: absolute;
  margin-left: 50px;
  padding: 2px;
  background-color: black;
  margin-top: -30px;
}
.p6 {
  display: flex;
  margin-left: 25px;
  position: absolute;
  margin-top: 50px;
  font-size: larger;
}
.p33 {
  display: flex;
  position: absolute;
  margin-left: 25px;
  margin-top: 70px;
}
.color-text {
  color: black;
  font-weight: bolder;
  padding-right: 40px;
}
.p5 {
  font-size: 26px;
}

.p7 {
  display: flex;
  position: absolute;
  margin-left: 30px;
  padding: 2px;
  background-color: black;
  margin-top: -30px;
}
/*section grid3*/
.container3 {
  margin-left: 300px;
  margin-right: 300px;
  color: blanchedalmond;
  background-color: rgb(0, 0, 0);
}
h4 {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;
  color: blanchedalmond;
  margin-left: 300px;
  margin-right: 300px;
}
.container-grid4 {
  display: grid;
  grid-template-columns: 30% 30% 40%;

  background-color: black;
  padding: 50px;
}

hr {
  background-color: coral;
}
/*Footer*/
.img-visuel {
  display: flex;
  position: absolute;
  padding-top: 70px;
  padding-bottom: 20px;
  margin-left: 390px;
}
.container-grid5 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1;
}
h5 {
  display: flex;
  position: absolute;
  color: floralwhite;
  padding-top: 110px;
  margin-left: 410px;
  margin-right: 1000px;
  font-weight: bolder;
  font-size: 25px;
  text-align: left;
}
.image1 {
  width: 100%;
  position: absolute;
  border-radius: 15px;
}
h6 {
  display: flex;
  position: absolute;
  color: floralwhite;
  padding-top: 135px;
  margin-left: 410px;
  margin-right: 1000px;
  font-weight: bolder;
  font-size: 25px;
  text-align: left;
}
.formulaire {
  display: grid;
  position: absolute;
  color: floralwhite;
  padding-top: 70px;
  margin-left: 780px;
  margin-right: 400px;
}
input,
textarea {
  font-size: larger;
  background-color: rgba(14, 12, 12, 0.9);
  color: floralwhite;
}
.button3 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  border-radius: 5px;
  color: floralwhite;
  font-weight: bolder;
  background-color: coral;
  width: 120px;
  display: flex;
  position: absolute;
  margin-left: 10px;
  margin-top: 330px;
  text-align: center;
}

/*button effect*/
.button4 {
  width: 120px;
  height: 30px;
  background-color: gray;
  color: coral;
}
.button5 {
  width: 120px;
  height: 30px;
  margin-top: 65px;
  background-color: gray;
  color: coral;
}
.button4:active {
  transition-duration: 2s;

  color: black;
  background-image: linear-gradient(to right, gray, coral);
}
.button5:active {
  transition-duration: 2s;

  color: black;

  background-image: linear-gradient(to right, gray, coral);
}
