ul {
  display: flex;
  flex-direction: flex-end;
  justify-content: end;
  margin-bottom: 10px;
  padding: 10px;
  background-color: black;
  gap: 5px;
}
h1 {
  position: absolute;
  padding: 10px;
  background-color: black;
  color: brown;
  font-size: larger;
  font-weight: bold;
}
body {
  padding-left: 400px;
  padding-right: 400px;
  background-color: darkolivegreen;
}
button {
  color: blanchedalmond;
  cursor: pointer;
  background-color: blue;
}
video {
  object-position: center;
  object-fit: ;
  height: 440px;
  width: 800px;
}
.center {
  text-align: center;
  margin-top: 200px;
  font-size: large;
}
.desc {
  position: absolute;
  top: 20px;
  left: 560px;
  color: ghostwhite;

  opacity: 0.8;
}
.overlay {
  position: ;
  top: 100px;
  left: 580px;
  bottom: 730px;
  right: 580px;
  background: rgba(0, 0, 0, 0.2);
}
.animated {
  cursor: pointer;
  color: blanchedalmond;
  transition: 0.5s all ease-in-out;
}
.animated:hover {
  color: crimson;
}
